:root {
	/* Brand colors */
	--brand-dark: #005461; /* darkest */
	--brand-primary: #018790; /* primary */
	--brand-accent: #00b7b5; /* accent */
	--bg: #f4f4f4; /* page background */
	--white: #ffffff;
	--black: #000000;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	color: var(--brand-dark);
}

a {
	font-weight: 500;
	color: var(--brand-primary);
	text-decoration: inherit;
}

a:hover {
	color: var(--brand-accent);
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--brand-primary);
	color: #fff;
	cursor: pointer;
	transition: border-color 0.25s, background-color 0.2s;
}

button:hover {
	background-color: var(--brand-dark);
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--brand-dark);
		background-color: var(--bg);
	}
}
